@import "./src/assets/styles/abstracts/variables";

#app {
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: #E0DFDFFF;
  height: 100%;
}

.v-main {
  height: 100%;
}

.bg-color {
  background-color: $background !important;
}

.primary-color {
  color: $primary !important;
}

.accent-color {
  color: $accent !important;
}

.info-color {
  color: $info !important;
}

.text1 {
  color: #090909FF !important;
}

.text2 {
  color: #4D4D4DFF !important;
}

.divider {
  background-color: #0E7917FF;
  border-width: 1px !important;
}

.title-text {
  font-size: 22pt;
}
